

* {
  margin: 0;
  padding: 0;
  box-sizing: border-box;
  font-family: Arial, Helvetica, sans-serif;
}

:root {
  --blue-primary: #1992d4;
  --blue-darken: #0f5981;
}

ul {
  list-style: none;
}

a {
  text-decoration: none;
}

body {
  background-color: #e2e8f0;
}

.main-content {
    display: grid;
    grid-template-columns: repeat(2, 300px);
}

.sidebar-menu {
  background: var(--blue-primary);
  color: white;
  padding: 20px;
}

.sidebar-menu a {
  color: inherit;
  padding: 10px;
  display: flex;
  align-items: center;
  gap: 10px;
  border-radius: 5px;
}

.sidebar-menu a:hover {
  background: var(--blue-darken);
}