* {
  margin: 0;
  padding: 0;
  box-sizing: border-box;
  font-family: Arial, Helvetica, sans-serif;
}

a {
  text-decoration: none;
}

body {
  background-color: #e2e8f0;
}

.main-content {
    display: grid;
    grid-template-columns: repeat(2, 300px);
}

.sidebar-menu {
  background: #1992d4;
  color: white;
}

.sidebar-menu a {
  color: inherit;
}
